<h1>Edit play</h1>

<%= simple_form_for @play do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.file_field :image %>
  <%= f.input :title, label: "Play Title" %>
  <%= f.input :description %>
  <%= f.input :director %>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>

<%= link_to "Back to show page", play_path(@play) %>