<h1 class="text-success"></h1>
  <p>
    <strong>Title: </strong>
    <%= @play.title %>
  </p>
  <p>
    <strong>Description: </strong>
    <%= @play.description %>
  </p>
  <p>
    <strong>Director: </strong>
    <%= @play.director %>
  </p>

<%= link_to "Back to index", plays_path %>
<%= link_to "Edit", edit_play_path(@play) %>
<%= link_to "Delete", play_path(@play), method: :delete, data:{confirm:"Are you Shure?"} %>