<h1 class="text-success"></h1>
  <p>
    <strong>Title: </strong>
    <%= @play.title %>
  </p>
  <p>
    <strong>Description: </strong>
    <%= @play.description %>
  </p>
  <p>
    <strong>Director: </strong>
    <%= @play.director %>
  </p>
  <p>
    <strong>Category: </strong>
    <%= @play.category.name %>
  </p>
  <% if @play.image.blank?%>
  <p>
    <strong>Image: </strong>
    no image available
  </p>
  <% else %>
  <p>
    <strong>Image: </strong>
    <%= image_tag(@play.image) %>
  </p>
  <% end %>

  <h3>Reviews</h3>
    <%= render @play.reviews %>

    <%= link_to "Add reviews", new_play_review_path(@play), class:"btn btn-primary" %>

<div class="btn-group">
  <%= link_to "Back to index", plays_path, class:"btn btn-info" %>
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "Edit", edit_play_path(@play), class:"btn btn-success" %>
      <%= link_to "Delete", play_path(@play), method: :delete, data:{confirm:"Are you Shure?"}, class:"btn btn-warning" %>
    <% end %>
  <% end %>
</div>